{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>

<p>Je teste symfony donc les textes sont en lorem ipsum :) </p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta quod eos numquam sequi, atque illum et unde aliquid repellat iure mollitia facilis totam doloribus saepe est nesciunt excepturi! Harum, nisi?</p>
{% endblock %}