{% extends 'base.html.twig' %}

{% block title %}Mon blog en symfony{% endblock %}

{% block body %}
<section class="articles">

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 05/06/2022 à 22h52 dans la catégorie Chocolat</div>
        <div class="content">
            <img src="https://via.placeholder.com/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta recusandae dolor asperiores culpa ratione ut.</p>
            <p>Blanditiis aperiam similique et tempora illo exercitationem reiciendis minus maiores, rem at! Reiciendis, quo molestias!</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 05/06/2022 à 22h52 dans la catégorie Chocolat</div>
        <div class="content">
            <img src="https://via.placeholder.com/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem perspiciatis vel dolorem unde nesciunt quo.</p>
            <p>Est qui in, impedit fugiat, fugit quisquam explicabo quos, illum animi earum deleniti officia quidem.</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 05/06/2022 à 22h52 dans la catégorie Chocolat</div>
        <div class="content">
            <img src="https://via.placeholder.com/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam nulla repellendus tempora inventore exercitationem laudantium.</p>
            <p>Quos reprehenderit, qui itaque facilis aliquid libero fugit vitae cupiditate maxime cum esse! Consectetur, molestiae.</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>


</section>
{% endblock %}
