{% extends 'base.html.twig' %}

{% block body %}
<article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 05/06/2022 à 22h52 dans la catégorie Chocolat</div>
        <div class="content">
            <img src="https://via.placeholder.com/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta recusandae dolor asperiores culpa ratione ut.</p>
            <p>Blanditiis aperiam similique et tempora illo exercitationem reiciendis minus maiores, rem at! Reiciendis, quo molestias!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit perspiciatis praesentium repudiandae sint, maxime ea enim harum vel modi. Vel, iste laudantium. Aliquam, eligendi quisquam in a voluptatem voluptatibus debitis consequatur reprehenderit commodi deleniti, sunt labore sequi, numquam quis. Minima odio eaque eius asperiores obcaecati at doloremque voluptas ad fugiat!
            Optio in, impedit culpa, libero corporis architecto maxime quod distinctio dignissimos reiciendis repellendus dicta sed assumenda repudiandae officia ipsa nemo. Quaerat accusamus aliquid provident optio architecto, perferendis officiis eligendi dolorum fugit velit a ab odit delectus necessitatibus animi tempore dolores nesciunt harum rerum voluptates dignissimos facilis corrupti saepe ex. Nobis!
            Aliquam asperiores quidem autem nesciunt numquam totam sapiente, sunt dicta velit fuga suscipit molestiae possimus voluptatum repellat dolore ipsa doloribus hic ratione id. Quas molestias labore ratione quaerat doloremque quisquam ut temporibus nam soluta cum sequi repellat quo, aliquam nesciunt omnis asperiores, velit iusto repellendus impedit quibusdam possimus earum laudantium.</p>

        </div>
    </article>
{% endblock %}